/* Reset básico para margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o corpo do documento */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Estilo para o cabeçalho */
header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 0.5rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

nav ul li a.active {
  background: #555;
}

nav ul li a:hover {
  background: #555;
}

/* Estilo para a área principal */
main {
  padding: 2rem;
}

/* Estilo para as seções */
.tab-content {
  display: none; /* Esconde todas as seções por padrão */
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 800px; /* Define uma largura máxima */
}

/* Estilo para as imagens dentro das seções */
.tab-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto; /* Centraliza a imagem e adiciona margem superior e inferior */
  margin-left: auto; /* Centraliza a imagem e adiciona margem superior e inferior */
}

/* Estilo para o rodapé */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}